Repository Mindtrace/mindtrace, pull requests merged in 2025-07, with the labels that each got.

#46 Feature/hardware
  README.md
  mindtrace/core/mindtrace/core/utils/__init__.py
  mindtrace/core/mindtrace/core/utils/download.py
  mindtrace/hardware/README.md
  mindtrace/hardware/mindtrace/hardware/__init__.py
  mindtrace/hardware/mindtrace/hardware/api/__init__.py
  mindtrace/hardware/mindtrace/hardware/api/app.py
  mindtrace/hardware/mindtrace/hardware/api/dependencies.py
  mindtrace/hardware/mindtrace/hardware/api/routes/__init__.py
  mindtrace/hardware/mindtrace/hardware/api/routes/backends.py
  mindtrace/hardware/mindtrace/hardware/api/routes/cameras.py
  mindtrace/hardware/mindtrace/hardware/api/routes/capture.py
  mindtrace/hardware/mindtrace/hardware/api/routes/config_async.py
  mindtrace/hardware/mindtrace/hardware/api/routes/config_persistence.py
  mindtrace/hardware/mindtrace/hardware/api/routes/config_sync.py
  mindtrace/hardware/mindtrace/hardware/api/routes/network.py
  mindtrace/hardware/mindtrace/hardware/cameras/__init__.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/__init__.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/base.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/basler/__init__.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/basler/basler_camera.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/basler/mock_basler.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/daheng/__init__.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/daheng/daheng_camera.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/daheng/mock_daheng.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/opencv/__init__.py
  mindtrace/hardware/mindtrace/hardware/cameras/backends/opencv/opencv_camera.py
  mindtrace/hardware/mindtrace/hardware/cameras/camera_manager.py
  mindtrace/hardware/mindtrace/hardware/cameras/setup/__init__.py
  mindtrace/hardware/mindtrace/hardware/cameras/setup/setup_basler.py
  mindtrace/hardware/mindtrace/hardware/cameras/setup/setup_cameras.py
  mindtrace/hardware/mindtrace/hardware/cameras/setup/setup_daheng.py
  mindtrace/hardware/mindtrace/hardware/core/config.py
  mindtrace/hardware/mindtrace/hardware/core/exceptions.py
  mindtrace/hardware/mindtrace/hardware/models/__init__.py
  mindtrace/hardware/mindtrace/hardware/models/requests.py
  mindtrace/hardware/mindtrace/hardware/models/responses.py
  mindtrace/hardware/mindtrace/hardware/plcs/__init__.py
  mindtrace/hardware/mindtrace/hardware/plcs/backends/__init__.py
  mindtrace/hardware/mindtrace/hardware/plcs/backends/allen_bradley/__init__.py
  mindtrace/hardware/mindtrace/hardware/plcs/backends/allen_bradley/allen_bradley_plc.py
  mindtrace/hardware/mindtrace/hardware/plcs/backends/allen_bradley/mock_allen_bradley.py
  mindtrace/hardware/mindtrace/hardware/plcs/backends/base.py
  mindtrace/hardware/mindtrace/hardware/plcs/plc_manager.py
  mindtrace/hardware/mindtrace/hardware/tests/__init__.py
  mindtrace/hardware/mindtrace/hardware/tests/unit/__init__.py
  mindtrace/hardware/mindtrace/hardware/tests/unit/cameras/__init__.py
  mindtrace/hardware/mindtrace/hardware/tests/unit/cameras/test_cameras.py
  mindtrace/hardware/mindtrace/hardware/tests/unit/plcs/__init__.py
  mindtrace/hardware/mindtrace/hardware/tests/unit/plcs/test_plcs.py
  mindtrace/hardware/pyproject.toml
  pyproject.toml
  uv.lock
Labels: mindtrace-hardware

#90 Add Apache 2 license to all packages
  LICENSE
  mindtrace/apps/LICENSE
  mindtrace/apps/pyproject.toml
  mindtrace/automation/LICENSE
  mindtrace/automation/pyproject.toml
  mindtrace/cluster/LICENSE
  mindtrace/cluster/pyproject.toml
  mindtrace/core/LICENSE
  mindtrace/core/pyproject.toml
  mindtrace/database/LICENSE
  mindtrace/database/pyproject.toml
  mindtrace/datalake/LICENSE
  mindtrace/datalake/pyproject.toml
  mindtrace/hardware/LICENSE
  mindtrace/hardware/pyproject.toml
  mindtrace/jobs/LICENSE
  mindtrace/jobs/pyproject.toml
  mindtrace/models/LICENSE
  mindtrace/models/pyproject.toml
  mindtrace/registry/LICENSE
  mindtrace/registry/pyproject.toml
  mindtrace/services/LICENSE
  mindtrace/services/pyproject.toml
  mindtrace/storage/LICENSE
  mindtrace/storage/pyproject.toml
  mindtrace/ui/LICENSE
  mindtrace/ui/pyproject.toml
  pyproject.toml
Labels: mindtrace-core

#93 Registry lock fix
  mindtrace/registry/mindtrace/registry/backends/local_registry_backend.py
  mindtrace/registry/mindtrace/registry/backends/minio_registry_backend.py
  mindtrace/registry/mindtrace/registry/core/exceptions.py
  mindtrace/registry/mindtrace/registry/core/registry.py
  mindtrace/storage/mindtrace/storage/base.py
  tests/stress/mindtrace/registry/test_registry_stress_test.py
  tests/unit/mindtrace/registry/backends/test_local_registry_backend.py
  tests/unit/mindtrace/registry/backends/test_minio_registry_backend.py
  tests/unit/mindtrace/registry/core/test_registry.py
Labels: mindtrace-core

#98 Pre-validated ConnectionManager input
  mindtrace/services/mindtrace/services/core/utils.py
  tests/integration/mindtrace/services/test_simple_integration.py
Labels: mindtrace-services

#88 Mcp/dev
  mindtrace/services/mindtrace/services/README.md
  mindtrace/services/mindtrace/services/core/service.py
  mindtrace/services/mindtrace/services/sample/echo_mcp.py
  mindtrace/services/pyproject.toml
  samples/services/echo_mcp_service.py
  tests/integration/mindtrace/services/conftest.py
  tests/integration/mindtrace/services/test_simple_integration.py
  tests/unit/mindtrace/services/core/test_service.py
Labels: mindtrace-core

#102 Cluster [5/x] Tidying
  LICENSE
  mindtrace/apps/LICENSE
  mindtrace/apps/pyproject.toml
  mindtrace/automation/LICENSE
  mindtrace/automation/pyproject.toml
  mindtrace/cluster/LICENSE
  mindtrace/cluster/mindtrace/cluster/core/cluster.py
  mindtrace/cluster/mindtrace/cluster/core/types.py
  mindtrace/cluster/mindtrace/cluster/workers/echo_worker.py
  mindtrace/cluster/mindtrace/cluster/workers/standard_worker_launcher.py
  mindtrace/cluster/pyproject.toml
  mindtrace/core/LICENSE
  mindtrace/core/pyproject.toml
  mindtrace/database/LICENSE
  mindtrace/database/pyproject.toml
  mindtrace/datalake/LICENSE
  mindtrace/datalake/pyproject.toml
  mindtrace/hardware/LICENSE
  mindtrace/hardware/pyproject.toml
  mindtrace/jobs/LICENSE
  mindtrace/jobs/pyproject.toml
  mindtrace/models/LICENSE
  mindtrace/models/pyproject.toml
  mindtrace/registry/LICENSE
  mindtrace/registry/mindtrace/registry/backends/local_registry_backend.py
  mindtrace/registry/mindtrace/registry/backends/minio_registry_backend.py
  mindtrace/registry/mindtrace/registry/core/exceptions.py
  mindtrace/registry/mindtrace/registry/core/registry.py
  mindtrace/registry/pyproject.toml
  mindtrace/services/LICENSE
  mindtrace/services/mindtrace/services/README.md
  mindtrace/services/mindtrace/services/core/service.py
  mindtrace/services/mindtrace/services/core/utils.py
  mindtrace/services/mindtrace/services/sample/echo_mcp.py
  mindtrace/services/pyproject.toml
  mindtrace/storage/LICENSE
  mindtrace/storage/mindtrace/storage/base.py
  mindtrace/storage/pyproject.toml
  mindtrace/ui/LICENSE
  mindtrace/ui/pyproject.toml
  pyproject.toml
  samples/cluster/cluster_as_gateway.py
  samples/cluster/cluster_with_node.py
  samples/cluster/cluster_with_prelaunched_workers.py
  samples/cluster/multiprocess/job.py
  samples/cluster/multiprocess/worker.py
  samples/jobs/sample_jobs_demo.py
  samples/services/echo_mcp_service.py
  scripts/push_to_pypi.sh
  tests/integration/mindtrace/cluster/test_cluster_integration.py
  tests/integration/mindtrace/services/conftest.py
  tests/integration/mindtrace/services/test_simple_integration.py
  tests/stress/mindtrace/registry/test_registry_stress_test.py
  tests/unit/mindtrace/core/utils/test_download.py
  tests/unit/mindtrace/registry/backends/test_local_registry_backend.py
  tests/unit/mindtrace/registry/backends/test_minio_registry_backend.py
  tests/unit/mindtrace/registry/core/test_registry.py
  tests/unit/mindtrace/services/core/test_service.py
Labels: mindtrace-cluster

#125 Update package publish script
  pyproject.toml
  scripts/push_to_pypi.sh
Labels: mindtrace-core
