Repository Mindtrace/mindtrace, pull requests merged in 2025-06, with the labels that each got.

#15 Feature/context manager
  mindtrace/core/mindtrace/core/__init__.py
  mindtrace/core/mindtrace/core/observables/context_listener.py
  mindtrace/core/mindtrace/core/observables/event_bus.py
  mindtrace/core/mindtrace/core/observables/observable_context.py
  pyproject.toml
  samples/core/observables/using_a_context_listener.py
  samples/core/observables/using_an_event_bus.py
  samples/core/observables/using_an_observable_context.py
  tests/unit/mindtrace/core/observables/test_context_listener.py
  tests/unit/mindtrace/core/observables/test_event_bus.py
  tests/unit/mindtrace/core/observables/test_observable_context.py
  tests/unit/mindtrace/core/utils/test_checks.py
Labels: mindtrace-core

#25 Registry [2 of 5]: Add MinioRegistryBackend Support
  mindtrace/core/mindtrace/core/__init__.py
  mindtrace/core/mindtrace/core/base/__init__.py
  mindtrace/core/mindtrace/core/base/mindtrace_base.py
  mindtrace/core/mindtrace/core/config/__init__.py
  mindtrace/core/mindtrace/core/config/config.py
  mindtrace/core/mindtrace/core/logging/logger.py
  mindtrace/core/mindtrace/core/utils/__init__.py
  mindtrace/core/mindtrace/core/utils/checks.py
  mindtrace/registry/mindtrace/registry/backends/local_registry_backend.py
  mindtrace/registry/mindtrace/registry/backends/minio_registry_backend.py
  mindtrace/registry/mindtrace/registry/backends/registry_backend.py
  mindtrace/services/pyproject.toml
  pyproject.toml
  samples/core/logging/using_core_logging_format.py
  samples/core/logging/using_core_logging_format_from_base_class.py
  scripts/run_tests.sh
  tests/conftest.py
  tests/docker-compose.yml
  tests/integration/mindtrace/registry/backend/test_minio_registry_backend_integration.py
  tests/unit/mindtrace/core/base/test_mindtrace_base.py
  tests/unit/mindtrace/core/logging/test_logger.py
  tests/unit/mindtrace/registry/backends/test_local_registry_backend.py
  tests/unit/mindtrace/registry/backends/test_minio_registry_backend.py
  tests/unit/mindtrace/registry/backends/test_registry_backend.py
Labels: mindtrace-registry

#45 Add ruff settings to pyproject and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: mindtrace-core

#50 Allow register_materializer to accept type as well as str; use this t…
  mindtrace/registry/mindtrace/registry/core/registry.py
  tests/unit/mindtrace/registry/core/test_registry.py
Labels: bug, mindtrace-registry

#52 Merge dev into services/dev and add additional tests
  .pre-commit-config.yaml
  mindtrace/core/mindtrace/core/__init__.py
  mindtrace/core/mindtrace/core/base/mindtrace_base.py
  mindtrace/core/mindtrace/core/config/config.py
  mindtrace/core/mindtrace/core/logging/logger.py
  mindtrace/core/mindtrace/core/types/task_schema.py
  mindtrace/registry/mindtrace/registry/core/registry.py
  mindtrace/services/mindtrace/services/base/connection_manager.py
  mindtrace/services/mindtrace/services/base/launcher.py
  mindtrace/services/mindtrace/services/base/service.py
  mindtrace/services/mindtrace/services/base/types.py
  mindtrace/services/mindtrace/services/base/utils.py
  mindtrace/services/mindtrace/services/sample/echo_service.py
  pyproject.toml
  samples/services/echo_service.py
  samples/services/echo_service_simple.py
  tests/integration/mindtrace/services/conftest.py
  tests/integration/mindtrace/services/test_simple_integration.py
  tests/unit/mindtrace/core/base/test_mindtrace_base.py
  tests/unit/mindtrace/core/logging/test_logger.py
  tests/unit/mindtrace/registry/core/test_registry.py
  tests/unit/mindtrace/services/core/test_service.py
  uv.lock
Labels: mindtrace-services

#76 Bugfix: add fastapi/httpx as dependencies to the services module
  mindtrace/services/pyproject.toml
  pyproject.toml
Labels: bug, mindtrace-services
